@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
  --background-color: #add8e6;
  /* --background-color: #272626f3; */
  --card-background-color: #301934;
  /* --card-background-color: #212121; */
  --primary-text-color: #f5f5f5fb;
  --primary-button-color: #bb86fc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

html {
  height: 100%;
}

body {
  /* background: var(--background-color); */
  background-image: linear-gradient(
    to bottom right,
    red,
    orange,
    green,
    blue,
    indigo,
    violet 100%
  );
  display: flex;
  justify-content: center;
}
